.weekChartItem {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.weekChartButton {
  height: 51px;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  font-size: 24px;
  text-transform: capitalize;
  transition: color 0.3s;

  @media (max-width: 768px) {
    font-size: 16px;
  }

  &:hover span {
    background-color: #EE735D !important;
  }
}

.weekChartValue {
  max-height: calc(100% - 51px - 4px);
  min-height: 1%;
  position: absolute;
  bottom: 51px;
  left: 0;
  width: 100%;
  transition: background-color 0.3s;
}
